html {
    min-width: 1210px;
    background-color: #fdfcf8;
    overflow: scroll;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    display: block;
}
body {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fdfcf8;
}



