<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="homefirst">
    <div id="wrapper">
        <div id="header_index">
            <h1>
                <a href="/index.html" title="w3school 在线教程">w3school</a>
            </h1>
            <div id="'search">
                <form method='get' id="searchform" action="/search_form">
                    <input type="hidden" name="sitesearch" value="w3school.com.cn">
                    <input type="text" name="as_q" class="box" id="searched_content" title="在此输入搜索内容。">
                    <input type="submit" value="GO" class="button" title="搜索">
                </form>
            </div>
        </div>
        <div id="navfirst" style="height: 48px; width:1210px">
            <ul id="menu">
                <li id="h">
                    <a href="/h" title="HTML 系列教程">HTML系列教程</a>
                </li>
                <li id="b">
                    <a href="/h" title="浏览器脚本教程">浏览器脚本教程</a>
                </li>
                <li id="s">
                    <a href="/h" title="服务器脚本教程">服务器脚本教程</a>
                </li>
                <li id="d">
                    <a href="/h" title="ASP.NET教程">ASP.NET教程</a>
                </li>
                <li id="x">
                    <a href="/h" title="XML系列教程">XML系列教程</a>
                </li>
                <li id="ws">
                    <a href="/h" title="Web Services 系列教程">Web Services 系列教程</a>
                </li>
                <li id="w">
                    <a href="/h" title="建站手册">建站手册</a>
                </li>
            </ul>
        </div>
        <div id="navseconde"></div>
        <div id="maincontent"></div>
        <div id="sidebar"></div>
        <div id="footer"></div>
    </div>
</body>
</html>